
<div class="container">
  {% if g.user.is_authenticated %}
  <h2 class="cart-title">Shopping Cart</h2>
    <!--<div class="column-labels">-->
    <!--<label class="image-column">Image</label>-->
    <!--<label class="name-column">Product</label>-->
    <!--<label class="price-column">Price</label>-->
    <!--<label class="quantity-column">Quantity</label>-->
  <!--</div>-->
  <div class="product">
        <div id="cart_item_list">
      {% for item in cart_items %}
      <ul>
          <div  class="product-image">
              <a id="single_page_product_{{ item.product.product_id }}" href="javascript:;"><img src="{{ url_for('static', filename='images/'+item.product.product_image) }}" alt="" height="70" width="70"></a>
          </div>
          <div  class="product-title">{{item.product.product_name}}</div>
          <div  class="product-price">${{item.product.product_price}}</div>
          <div  class="product-quantity">
          <form name="Item_1"  method='POST'>
              <input type="hidden" name="cartID" id="hidden_cart_id_input_{{item.cart_id}}" value="{{item.cart_id}}" />
              <input name="quantity_input" style="width: 50px" id="quantity_of_product_{{item.cart_id}}" type="number" value="{{item.quantity}}" min="1" max="10">
          </form>
          </div>
          <div  class="product-removal">
            <form  method="POST">
                 <input readonly class="remove-product" id="remove_cart_item_{{item.cart_id}}" value="Remove"  />
            </form>
          </div>
        </ul>
       {% endfor %}
        </div>
  </div>
  <div class="summary">
      <span><p class="total">Total:</p></span>
      <span><p class="total-price">Total price: {{total_price}}</p></span>
      <a id="payment_link" class="payment-button"  href="javascript:;">Payment Method</a>
  </div>
</div>
{% endif %}
</div>

