
<div class="product-grids">
	<div class="container">
	<div class="product-top">
		<div class="col-md-4 grid-product-in">	
		<div class=" product-grid">	
			<a id="single_page_product_1" href="javascript:;"><img class="img-responsive " src="{{ url_for('static', filename='images/pr.png') }}" alt=""></a>
			<div class="shoe-in">
				<h6><a href="javascript:;">Lorem Ipsum is simply dummy </a></h6>
				<label>$67.99</label>
				<a href="javascript:;" class="store">FIND A STORE</a>
			</div>
			
			<b class="plus-on">+</b>
		</div>	
		</div>
		<div class="col-md-4 grid-product-in">	
		<div class=" product-grid">	
			<a id="single_page_product_2" href="javascript:;"><img class="img-responsive " src="{{ url_for('static', filename='images/pr1.png') }}" alt=""></a>
			<div class="shoe-in">
				<h6><a href="javascript:;">Lorem Ipsum is simply dummy </a></h6>
				<label>$67.99</label>
				<a href="javascript:;" class="store">FIND A STORE</a>
			</div>
			
			<b class="plus-on">+</b>
		</div>
		</div>
		<div class="col-md-4 grid-product-in">	
		<div class=" product-grid">	
			<a id="single_page_product_3" href="javascript:;"><img class="img-responsive " src="{{ url_for('static', filename='images/pr2.png') }}" alt=""></a>
			<div class="shoe-in">
				<h6><a href="javascript:;">Lorem Ipsum is simply dummy </a></h6>
				<label>$67.99</label>
				<a href="javascript:;" class="store">FIND A STORE</a>
			</div>
	
			<b class="plus-on">+</b>
		</div>
		</div>
	<div class="clearfix"> </div>
	</div>	
	<div class="product-top">
		<div class="col-md-4 grid-product-in">	
		<div class=" product-grid">	
			<a id="single_page_product_4" href="javascript:;"><img class="img-responsive " src="{{ url_for('static', filename='images/pr3.png') }}" alt=""></a>
			<div class="shoe-in">
				<h6><a href="javascript:;">Lorem Ipsum is simply dummy </a></h6>
				<label>$67.99</label>
				<a href="javascript:;" class="store">FIND A STORE</a>
			</div>
			
			<b class="plus-on">+</b>
		</div>	
		</div>
	<div class="col-md-4 grid-product-in">	
		<div class=" product-grid">	
			<a id="single_page_product_5" href="javascript:;"><img class="img-responsive " src="{{ url_for('static', filename='images/pr4.png') }}" alt=""></a>
			<div class="shoe-in">
				<h6><a href="javascript:;">Lorem Ipsum is simply dummy </a></h6>
				<label>$67.99</label>
				<a href="javascript:;" class="store">FIND A STORE</a>
			</div>
			
			<b class="plus-on">+</b>
		</div>
		</div>
		<div class="col-md-4 grid-product-in">	
		<div class=" product-grid">	
			<a id="single_page_product_6" href="javascript:;"><img class="img-responsive " src="{{ url_for('static', filename='images/sh.png') }}" alt=""></a>
			<div class="shoe-in">
				<h6><a href="javascript:;">Lorem Ipsum is simply dummy </a></h6>
				<label>$67.99</label>
				<a href="javascript:;" class="store">FIND A STORE</a>
			</div>
		
			<b class="plus-on">+</b>
		</div>
		</div>
	<div class="clearfix"> </div>
	</div>
	<div class="product-top">
		<div class="col-md-4 grid-product-in">	
		<div class=" product-grid">	
			<a id="single_page_product_7" href="javascript:;"><img class="img-responsive " src="{{ url_for('static', filename='images/sh2.png') }}" alt=""></a>
			<div class="shoe-in">
				<h6><a href="javascript:;">Lorem Ipsum is simply dummy </a></h6>
				<label>$67.99</label>
				<a href="javascript:;" class="store">FIND A STORE</a>
			</div>
			
			<b class="plus-on">+</b>
		</div>	
		</div>
		<div class="col-md-4 grid-product-in">	
		<div class=" product-grid">	
			<a id="single_page_product_8" href="javascript:;"><img class="img-responsive " src="{{ url_for('static', filename='images/pr1.png') }}" alt=""></a>
			<div class="shoe-in">
				<h6><a href="javascript:;">Lorem Ipsum is simply dummy </a></h6>
				<label>$67.99</label>
				<a href="javascript:;" class="store">FIND A STORE</a>
			</div>
		
			<b class="plus-on">+</b>
		</div>
		</div>
		<div class="col-md-4 grid-product-in">	
		<div class=" product-grid">	
			<a id="single_page_product_9" href="javascript:;"><img class="img-responsive " src="{{ url_for('static', filename='images/pr2.png') }}" alt=""></a>
			<div class="shoe-in">
				<h6><a href="javascript:;">Lorem Ipsum is simply dummy </a></h6>
				<label>$67.99</label>
				<a href="javascript:;" class="store">FIND A STORE</a>
			</div>
			
			<b class="plus-on">+</b>
		</div>
		</div>
	<div class="clearfix"> </div>
	</div>
	</div>
</div>
	<!---->