
<div class="container">
		<div class="register">
		<h2>REGISTER</h2>		
		<div class=" register-top">
			<form>
				<div> 	
				<span>First Name</span>
				<input id="inputFirstName" name="inputFirstName" type="text">
			</div>
			<div> 	
				<span>Last Name</span>
				<input id="inputLastName" name="inputLastName" type="text">
			</div>
			<div> 	
				<span>Email</span>
				<input id="inputEmail" name="inputEmail" type="text">
			</div>
			<div> 
				<span >Password</span>
				<input id="inputPassword" name="inputPassword" type="password">
			</div>				
				<input id="register_btn" value="Submit" style="width:60%">
			</form>
		</div>		
	</div>
	</div>
