{% extends "layout.html" %}
{% block content %}

    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Shop</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if request.args['submission_successful'] %}
    <!--Modal submission-->
    <div class="modal fade" id="mySubmissionModal" role="form">
        <div class="modal-dialog">

          <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-xs-center">Alert</h4>
            </div>
        <div class="modal-body">
              <h2>Item successfully added to the cart</h2>
        </div>
        <!--<div class="modal-footer">-->
          <!--&lt;!&ndash;<a href="#" data-dismiss="modal" data-toggle="modal" data-target="#mySignupModal">Sign Up</a>&ndash;&gt;-->
        <!--</div>-->
            </div>
        </div>
    </div>
    {% endif %}
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {% for product in products %}
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="{{ url_for('static', filename='img/'+product[3]) }}" alt="">
                        </div>
                        <h2><a href="">{% print product[1] %}</a></h2>
                        <div class="product-carousel-price">
                            <ins>${% print product[2] %}</ins> <del>$999.00</del>
                        </div>  
                        
                        <div class="product-option-shop">
                            <form action="{{ url_for('action_addproduct') }}" method=POST>
                                <input type="text" name="userID" value="{{user_id}}" style="display:none;">
                                <input type="text" name="productID" value="{{product[0]}}" style="display:none;">
                                <button class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" type="submit">Add to cart</button>
                            </form>
                        </div>                       
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="product-pagination text-center">-->
                        <!--<nav>-->
                          <!--<ul class="pagination">-->
                            <!--<li>-->
                              <!--<a href="#" aria-label="Previous">-->
                                <!--<span aria-hidden="true">&laquo;</span>-->
                              <!--</a>-->
                            <!--</li>-->
                            <!--<li><a href="#">1</a></li>-->
                            <!--<li><a href="#">2</a></li>-->
                            <!--<li><a href="#">3</a></li>-->
                            <!--<li><a href="#">4</a></li>-->
                            <!--<li><a href="#">5</a></li>-->
                            <!--<li>-->
                              <!--<a href="#" aria-label="Next">-->
                                <!--<span aria-hidden="true">&raquo;</span>-->
                              <!--</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</nav>                        -->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>


{% include "footer.html" %}
<script type="text/javascript">
    $(window).on('load',function(){
        $('#mySubmissionModal').modal('show');
    });
</script>
{% endblock %}